*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.navi {
    display: flex;
    width: 100%;
    height: auto; /* Deja que el contenido ajuste la altura */
    background: #292929;
    list-style: none;
    position: relative;
    justify-content: center;
    position: fixed;
    z-index: 1000;
}
.barra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.barra li {
    list-style: none; /* Elimina el estilo de lista por defecto */
    margin: 0 15px; /* Añade un margen horizontal entre los elementos */
}

.barra li >a{
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    display: block;
}

.barra li >a:hover{
    opacity: .4;
}

.barra .apel{
    position: relative;
    display: flex;
    height: 40px;
    width: 55px;
}

.barra .lupita{
    position: relative;
    display: flex;
    height: 60px;
    width: 55px;
}

.barra .bolsuda{
    position: relative;
    display: flex;
    height: 60px;
    width: 55px;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
    grid-auto-rows: auto; /* Filas automáticas */
    gap: 10px; /* Espacio entre elementos */
    width: 100%;
    margin: 0 auto;
}

.elem-vidio {
    grid-column: 1 / span 2; /* Ocupa las dos columnas */
    grid-row: 1; /* Primer fila */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

 .elem-vidio button{
    height: 50px;
    width: 200px;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    margin-top: 770px;
    background-color: rgb(0, 127, 211);
    border: none;
    position: absolute;
    align-items: center;
    color: white;
    cursor: pointer;
}

video {
    max-width: 100%;
   max-width: 100%;
   object-fit: fill;
}

.image-1, .image-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-1 img, .image-2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-1 {
    grid-column: 1 / span 2; /* Ocupa ambas columnas */
    grid-row: 2; /* Segunda fila */
    
}

.image-2 {
    grid-column: 1 / span 2; /* Ocupa ambas columnas */
    grid-row: 3; /* Tercera fila */
    height: 500px;
    width: auto;
    position: relative;
}

.image-2 h1{
    position: absolute;
    top: 50px;
    color: black;
    font-size: 50px;
}

.image-2 p{
    position: absolute;
    color: black;
    top: 110px;
    font-family: Arial;
    font-size: 25px;
}

.image-2 button{
    position: absolute;
    height: 40px;
    width: 180px;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-color: rgb(0, 127, 211);
    border: none;
    position: absolute;
    align-items: center;
    top: 150px;
    color: white;
    margin-right: 110px;
    font-size: 18px;
    font-family: Arial;
    cursor: pointer;
}

.image-2 .bot2{
    position: absolute;
    height: 40px;
    width: 150px;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
    border-color: blue;
    position: absolute;
    align-items: center;
    top: 150px;
    color: black;
    margin-right: -270px;
    border: 1px solid rgb(0, 127, 211);
    cursor: pointer;
}

.izq-1, .der-1, .izq-2, .der-2, .izq-3, .der-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.izq-1, .izq-2, .izq-3{
    position: relative;
    display: flex;
}

.izq-1 h1{
    position: absolute;
    display: flex;
    color: white;
    justify-content: center;
    margin-bottom: 550px;
    font-family: Calibri;
    font-size: 45px;
    align-items: center;
}

.izq-1 p{
    position: absolute;
    color: white;
    height: 490px;
}

.izq-1 button{
    position: absolute;
    height: 40px;
    width: 150px;
    padding: 0px 5px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    cursor: pointer;
}

.izq-1 .bot-izq{
    background-color: rgb(0, 127, 211);
    border-color: blue;
    position: absolute;
    align-items: center;
    top: 260px;
    margin-right: 190px;
    color: black;
    border: none;
    cursor: pointer;
}

.izq-1 .bot-der{
    position: absolute;
    border-color: white;
    background-color: transparent;
    align-items: center;
    top: 260px;
    margin-left: 140px;
    color: rgb(0, 127, 211);
    border: 1px solid rgb(0, 127, 211); 
    cursor: pointer;
}



.izq-1 .line2{
    height: 440px;
}

.izq-2 h1{
    position: absolute;
    display: flex;
    color: white;
    justify-content: center;
    top: 70px;
    font-family: Calibri;
    font-size: 45px;
    align-items: center;
}

.izq-2 p{
    position: absolute;
    color: white;
    height: 630px;
}

.izq-2 button{
    position: absolute;
    height: 40px;
    width: 150px;
    padding: 0px 5px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    
}

.izq-2 .bot-izq{
    background-color: rgb(0, 127, 211);
    border-color: blue;
    position: absolute;
    align-items: center;
    top: 200px;
    margin-right: 190px;
    color: white;
    border: none;
    cursor: pointer;
}

.izq-2 .bot-der{
    position: absolute;
    border-color: white;
    background-color: transparent;
    align-items: center;
    top: 200px;
    margin-left: 140px;
    color: rgb(0, 127, 211);
    border: 1px solid rgb(0, 127, 211); 
    cursor: pointer;
}

.izq-2 .line2{
    height: 570px;
}

/*aqui*/

.izq-3 h1{
    position: absolute;
    display: flex;
    color: black;
    justify-content: center;
    top: 80px;
    font-family: Calibri;
    font-size: 45px;
    align-items: center;
}

.izq-3 p{
    position: absolute;
    color: black;
    height: 600px;
}

.izq-3 button{
    position: absolute;
    height: 40px;
    width: 150px;
    padding: 0px 5px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    
}

.izq-3 .bot-izq{
    background-color: rgb(0, 127, 211);
    border-color: blue;
    position: absolute;
    align-items: center;
    top: 200px;
    margin-right: 190px;
    color: white;
    border: white;
    cursor: pointer;
}

.izq-3 .bot-der{
    position: absolute;
    border-color: white;
    background-color: transparent;
    align-items: center;
    top: 200px;
    margin-left: 140px;
    color: rgb(0, 127, 211);
    border: 1px solid rgb(0, 127, 211); 
    cursor: pointer;
}

.izq-3 .line2{
    height: 520px;
}

/* aqui */

.der-1 h1{
    position: absolute;
    display: flex;
    color: black;
    justify-content: center;
    font-family: Calibri;
    font-size: 45px;
    align-items: center;
    margin-top: -500px;
}

.der-1 p{
    position: absolute;
    color: black;
    height: 100px;
    margin-top: 150px;
}

.der-1 .chi{
    position: absolute;
    margin-top: -300px;
}

.der-1 button{
    position: absolute;
    height: 40px;
    width: 150px;
    padding: 0px 5px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    
}

.der-1 .bot-izq1{
    position: absolute;
    align-items: center;
    margin-right: 150px;
    color: white;
    border: white;
    margin-top:-190px ;
    background-color: rgb(0, 127, 211);
    cursor: pointer;
}

.der-1 .bot-der1{
    align-items: center;
    margin-left: 200px;
    color: rgb(0, 127, 211);
    margin-top: -100px;
    cursor: pointer;
}

.der-1 .linea3{
    margin-top: -200px;
    color: black;
}

.der-1 .linea4{
    margin-top: -250px;
    color: black;
}

/*aqui*/

.der-2 h2{
    position: absolute;
    display: flex;
    color: white;
    justify-content: center;
    font-family: Calibri;
    font-size: 45px;
    align-items: center;
    margin-top: -700px;
}

.der-2 p{
    position: absolute;
    color: white;
    height: 100px;
    margin-top: 150px;
}

.der-2 .chi{
    position: absolute;
    margin-top: -550px;
    color: red;
}

.der-2 button{
    position: absolute;
    height: 40px;
    width: 150px;
    padding: 0px 5px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    
}

.der-2 .bot-izq2{
    position: absolute;
    align-items: center;
    margin-right: 150px;
    color: white;
    border: white;
    margin-top:-400px ;
    background-color: rgb(0, 127, 211);
    cursor: pointer;
}

.der-2 .bot-der2{
    align-items: center;
    margin-left: 200px;
    color: rgb(0, 127, 211);
    margin-top: -400px;
    cursor: pointer;
}

.der-2 .linea5{
    margin-top: -200px;
    color: black;
}

.der-2 .linea6{
    margin-top: -250px;
    color: black;
}

.der-2 .no{
    color: white;
    position: absolute;
    margin-top: -500px;
    align-items: center;
    font-size: 32px;
}

/**/
.der-3 h1{
    position: absolute;
    display: flex;
    color: white;
    justify-content: center;
    font-family: Calibri;
    font-size: 45px;
    align-items: center;
    margin-top: -700px;
}

.der-3 .ya{
    position: absolute;
    display: flex;
    color: white;
    justify-content: center;
    font-family: Calibri;
    font-size: 45px;
    align-items: center;
    margin-top: -600px;
}

.der-3 p{
    position: absolute;
    color: white;
    height: 100px;
    margin-top: -450px;
}

.der-3 button{
    position: absolute;
    height: 40px;
    width: 150px;
    padding: 0px 5px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    margin-top: -430px;
    background-color: rgb(0, 127, 211);
    color: white;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.der-3 .linea5{
    margin-top: -200px;
    color: black;
}




/*aqui*/

/**/
.izq-1, .izq-2, .izq-3 {
    grid-column: 1; /* Coloca en la primera columna */
}

.der-1, .der-2, .der-3 {
    grid-column: 2; /* Coloca en la segunda columna */
}

.izq-1, .der-1 {
    grid-row: 4; /* Cuarta fila */
}

.izq-2, .der-2 {
    grid-row: 5; /* Quinta fila */
}

.izq-3, .der-3 {
    grid-row: 6; /* Sexta fila */
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.der-2{
    background-color: black;
}

.der-1{
    background-color: whitesmoke;
}

.Testo1 {
    color: white;
    position: absolute;
    top: 80%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el texto para que esté centrado en el medio */
    font-size: 3rem; /* Tamaño de fuente ajustable */
    text-align: center; /* Centra el texto dentro del h1 */
}

.Testo2 {
    color: white;
    position: absolute;
    top: 87%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el texto para que esté centrado en el medio */
    font-size: 2rem; /* Tamaño de fuente ajustable */
    text-align: center; /* Centra el texto dentro del h1 */
}

.cont{
    max-width: 1200px;
    margin: 0 auto;
}

.foot{
    background-color: whitesmoke;
}

.foot-row{
    display: flex;
    flex-wrap:wrap;
}

.links{
    width: 20%;
    padding: 0 20px;
    justify-content: center;
    margin-top: 30px;
}

.links h4{
    margin-bottom: 10px;
    font-size: 14px;
}

.links ul li{
    list-style: none;
}

.links ul li a{
    text-decoration: none;
    color: #5C5E60;
    display: block;
    font-family: Calibri;
}

.edit{
    color: black;
}

.futext p{
   font-size: 14px;
   color: #6B6E70;
   font-family: Calibri;
}

.simon{
    display: block;
    padding-top: 30px;
    margin-top: 15%;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.info{
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    width: 100%;
}

.info p {
    color: #6B6E70;
    font-family: Calibri;
}

.info p a{
    color: skyblue;
    font-family: Calibri;
}

.last{
    justify-content: center;
    display: block;
    margin-top: 1px;
    width: 100%;
    
}

.last p{
    color: #6B6E70 ;
    font-size: 13px;
    padding: 0px 5px;
}

.last p a{
    text-decoration: none;
    color: #6B6E70 ;
    padding: 0 20px;
}